body {
    height: 100%;
    width: 95%;
    display: block;
    text-align: center;
    overflow: hidden;
}
span {
    display: block;
    text-align: left;
}
div {
    font-size: 1px;
    width: 15%;
    height: auto;
    height: 87vh;
    overflow: auto;
    display: inline-block;
    vertical-align: top;
    margin: 2.5px 2.5px;
    border: 1px solid green;
}
p {
    z-index: -1;
    margin: 3.5px;
    text-align: justify;
}
h1 {
    margin: 1px;
}
