body {
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    display: block;
    text-align: center;
}
span {
    display: block;
    text-align: left;
}
div {
    display: inline-block;
    margin: 0px 5px;
    width: 13%;
    border: 1px solid green;
}
p {
    margin: 0.5px;
    padding: 3px;
    text-align: justify;
}
h1 {
    margin: 1px;
}
